<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Covid19 Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

</head>

<body>
	<div class="container">
		<h1>Covid19 Tracker</h1>
		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalcases}"></h1>
			<p class="lead">Total cases reported as of Today</p>
			<hr class="my-4">
			<p>
				<span> New cases reported since previous day : </span>
				<span th:text="${totalNewCases}"></span>
			</p>
		</div>


		<table class="table">
			<tr>
				<th>Country</th>
				<th>State</th>
				<th>Total Cases Reported</th>
				<th>Cases Increase/Decrease</th>
			</tr>
			<tr th:each="stat : ${stats}">
				<td th:text="${stat.country}"></td>
				<td th:text="${stat.state}"></td>
				<td th:text="${stat.latestTotalCases}">0</td>
				<td th:text="${stat.lastDayIncrease}">0</td>
			</tr>
		</table>
	</div>
</body>

</html>